.landing_background {
    display: flex;
    justify-content:right;
    background-image: url("../../img/cooking.png");
    background-position: right;
    background-size:90%;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 50%;
    height: 100%;
    position: fixed
}

.conteined {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 30px;
}

.buttonlanding {
    background-image: linear-gradient(90deg, #ff0000 0%, #000000 49%, #ff0000 80%, #000000 100%);
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    min-height: 30px;
    min-width: 180px;
    margin-right: 13rem;
    margin-top: 3%;
}

.presentation {
    color:black;
    text-align: center;
    margin-top: 60%;
    font-size: 18px;
}

.buttonlanding:hover {
    background-image: linear-gradient(90deg, #ff0000 0%, #000000 49%, #ff0000 80%, #000000 100%);
    animation: slidebg 2s linear infinite;
   
}

.title {
    margin-right: 13rem;
    margin-top: 80%;
    font-size: 4rem;
    padding: 20px;
    overflow: hidden;
    color: black;
    font-family: 'Georgia';
}